.text-header{
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    display: inline;
    color: chocolate;
}

header{
    position: fixed;
    border-bottom: 10px black;
}

#header-box{
width: 100px;
height: 30px;
background-color: cadetblue;
}

#page{
    background-color: cyan;
}